.about {
  background-color: $white;
  padding: 4rem 0;

  p {
    text-align: center;
    padding: 0 12.5rem;
    margin-bottom: 3rem;

    @include breakpoint-down(medium) {
      padding: 0 6rem;
      width: auto;
    }

    @include breakpoint-down(small) {
      padding: 0 2rem;
    }
  }

  &__grid {
    max-width: 69.375rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 3rem;
    margin: 2rem auto 0 auto;

    video {
      width: 600px;

      @include breakpoint-down(medium) {
        width: 500px;
        margin: 0 2rem 0 3.25rem;
      }

      @include breakpoint-down(small) {
        width: 300px;
        margin: 0 1rem;
      }
    }

    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    p {
      padding: 0;
      text-align: left;
      width: auto;
    }

    svg {
      margin-right: 1.25rem;
    }

    .about-content {
      grid-area: content;
    }

    .about-video {
      grid-area: video;
    }

    .about-header {
      grid-area: header;
      margin: 1.5rem 0 2.5rem 0;

      h3 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
        font-size: $font-sm;
      }
    }

    .about-text {
      grid-area: text;

      h5,
      h6 {
        margin-bottom: 0.5rem;
      }
    }

    .about-text,
    .speed {
      margin-top: 1.5rem;
    }

    grid-template-areas: 'video content';

    @include breakpoint-down(medium) {
      grid-template-areas: 'video' 'content';
      justify-content: center;
      padding: 0 5rem;
    }
    @include breakpoint-down(small) {
      padding: 0 1rem;
    }
  }
}

.about-section {
  @include breakpoint-down(medium) {
    padding: 2rem;
  }
}
