.advice {
  margin: 2rem 0;

  @include breakpoint-down(small) {
    margin-top: 5rem;
  }

  h2 {
    margin-bottom: 0.625rem;
  }

  h5 {
    font-weight: 700;
    text-align: justify;
    margin: 0.625rem 1.25rem 1.5rem 1.25rem;
  }

  h5,
  p {
    @include breakpoint-down(small) {
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem 12.5rem;
    margin: 2.125rem 0 0 0;

    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem 5rem;
    }

    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
      padding: 1rem;
    }

    .advice-card {
      text-align: center;
      background-color: $white;
      padding: 1.5rem 0 0 0;
      width: 230px;
      // height: 343px;

      p {
        text-align: left;
        margin: 0 1.25rem 2rem 1.25rem;
        font-size: $font-sm;
      }
    }
  }
}
