.clients {
  margin: 6rem 0 5rem 0;

  @include breakpoint-down(small) {
    margin-top: 5rem;
  }

  p {
    text-align: center;
    margin: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center;
    align-items: center;
    padding: 1rem 12.5rem;
    margin: 3.125rem 0 0 0;

    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem 5rem;
    }

    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
      padding: 1rem;
    }

    .clients-card {
      text-align: center;
      background-color: $white;
      padding-top: 1.5rem;
      width: 230px;
      height: 100%;

      h2 {
        margin: 0.625rem 0;
      }
    }
  }
}
