.header {
  height: 100%;
  background: url('../public/images/hero-bg.jpg') center no-repeat scroll;
  background-size: 100%;

  @include breakpoint-down(medium) {
    background: url('../public/images/hero-bg.jpg') center no-repeat scroll;
  }
}

.hero {
  @include breakpoint-down(small) {
    text-align: center;
  }

  h1 {
    margin: 5rem 0 2.1875rem 0;
  }

  h4 {
    margin: 0 0 2.1875rem 0;
  }

  &__cta {
    .button:first-child {
      margin: 0 2rem 0 0;

      @include breakpoint-down(small) {
        margin: 0 0 2rem;
      }
    }

    .button:nth-child(2) {
      background: none;
      color: $secondaryColor2;
    }

    @include breakpoint-down(small) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__cards-grid {
    margin: 5rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include breakpoint-down(medium) {
      grid-template-columns: 1fr;
    }

    h3 {
      line-height: 1.5;
      margin: 0.625rem 0;
    }

    p {
      margin: 0;
      font-size: $font-sm;
    }

    .hero-card {
      background-color: white;
      padding: 1.75rem 3rem;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);

      @include breakpoint-down(medium) {
        h3,
        p {
          text-align: left;
        }
      }
    }

    .hero-card:nth-child(3) {
      background-color: $secondaryColor4;
      h3,
      p {
        color: #fff;
      }
    }
  }
}
